<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/js/standalone/selectize.min.js"></script>
<script type="text/javascript" src="/js/admin_students.js"></script>
<script type="text/javascript">
  $("#students_table_data").dataTable({
    scrollY: '1000px',
    scrollCollapse: true,
    paging: false,
    "iDisplayLength": 10,
    "aLengthMenu": [[10, 25, 50, 100,  -1], [10, 25, 50, 100, "All"]]
  });
</script>
